//=============/=============/=============
.benefit {
	margin-left: 400px;
	@include flex;

	&__item {
		display: inline-block;
		@include flex-all-center;
		width: 50%;
		padding: var(--indent-average) 0;
		min-height: 140px;
		border: var(--block-border);
		box-shadow: var(--block-shadow);
		border-radius: var(--block-radius);

		&:not(:Last-child){
			margin-right: var(--indent-average);
		}
	}

	&__text {
		color: var(--white-color);
		font-size: 16px;
		font-weight: 500;
	}
}
