//=============/=============/=============
.logo {
	color: var(--white-color);
	text-transform: uppercase;
	font-size: 52px;
}

//=============/=============/=============
.nav {
	padding: 0 var(--indent-small);
	position: fixed;
	top: 0;
	left: 8%;
	height: 100vh;
	width: 380px;
	z-index: 100;
	@include flex-column;
	background-color: rgba(0, 0, 0, 0.5);
	border: var(--block-border);
	box-shadow: var(--block-shadow);
	border-radius: var(--block-radius);
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 0;
	}

	@include laptop-max {
		left: var(--indent-small);
	}

	&__top,
	&__middle,
	&__bottom {
		position: relative;
		margin-top: var(--indent-middle);
		margin-bottom: var(--indent-huge);

		&::after {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			bottom: var(--indent-middle-back);
			width: 70%;
			height: 2px;
			background-color: var(--pumpkin-color);
		}
	}

	&__item:hover {
		.nav__title {
			color: var(--pumpkin-color);
			transform: scaleY(1.8);
		}
	}

	&__header {
		position: relative;
		padding: var(--indent-small) 0;
		width: 100%;
		@include flex-h-center;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 10px;
			height: 3px;
			background-color: var(--white-color);
			transform: translateY(-50%);
			transition: transform 0.3s, background-color 0.3s linear;
		}

		&::before {
			transform: rotate(-30deg);
			right: 15px;
		}

		&::after {
			transform: rotate(30deg);
			right: 23px;
		}

		&:hover {
			&::before,
			&::after {
				background-color: var(--pumpkin-color);
			}
		}
	}

	&__title {
		color: var(--white-color);
		font-weight: 700;
		position: relative;
		transition: color 0.3s, transform 0.3s linear;
	}

	&-open {
		.nav__header::before {
			background-color: var(--pumpkin-color);
			transform: rotate(30deg);
		}

		.nav__header::after {
			background-color: var(--pumpkin-color);
			transform: rotate(-30deg);
		}

		.nav__title {
			color: var(--pumpkin-color);
			transform: scaleY(1.8);
		}
	}
}

//=============/=============/=============
.nav-dropdown {
	overflow: hidden;
	height: 0;
	transition: all 0.25s ease;

	&__list {
		padding: var(--indent-small) var(--indent-average);
	}

	&__link {
		width: 100%;
		padding: var(--indent-small) 0;
		display: inline-block;
		color: var(--white-color);
		font-weight: 500;
		font-size: 16px;
		transition: color 0.3s, transform 0.3s linear;

		&:hover {
			color: var(--pumpkin-color);
			transform: scaleY(1.8);
		}
	}
}
