
:root {
  // base
  // --font-family: "SyneMono", sans-serif;

  // colors
  --white-color: #fff;
	--black-color: #000;
	--westSide-color: #ff9218;
	--blue-color: #1f9cff;
	--outerSpace-color: #2f363e;
	--xanadu-color: #7d7f7d;
	--bgImage-color: #505050;
	--grey-color: #2f4f4f;
	--orange-color: #b3821a;
	--pumpkin-color: #d9821a;
}
